div.social-icons {
    position: relative;
    float: right;
    right: 0px;
    top: -50px;
}

p.logo {
    display: inline-block;
    position: relative;
}

#hra {
    border-width: 0px;
    border-style: solid;
    background:url(../img/hr-img.png) repeat center top; 
    height: 10px;
}

img.cake-img {
    position: relative;
    width: 100%;
}

hr.footer-hr {
    width: 47.5%;
    border-width: 1px;
    display: inline-block;
}

p.footer-p {
    color: gray;
    text-align: center;
    position: relative;
    line-height: 4px;
}
